.jumbotron{
    position: relative;
    background-color: rgb(5, 156, 86);
    color: #fafafa;
    padding: 50px;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.footer{
    height: auto;
    padding: 10x;
    background-color: black;
    color: #fafafa;
    text-align: center;
    font-size: .8rem;
}

.body-loged{
    padding-top: 180px;
}